body {
    background-color: rgb(158, 228, 228);
    /*background: url("./img/Decathlon.jpg") no-repeat;*/
    background-size: 100%;
    background-size: cover;
    padding: 0px;
    margin: 0px;
}

.menu1 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    position: relative;
    left: 760px;
    right: 760px;
    height: 80px;
	width: 400px;
    border-radius: 10px;
    margin-bottom: 10px;
    backdrop-filter: blur(20px);
}
.menu1 img {
    box-shadow: 2px 4px 2px black;
    height: 60px;
    margin-top: 10px;
    transition: box-shadow 0.5s ease-in-out;
}
.menu1 img:hover {
    box-shadow: 0px 0px 0px black;
    cursor: pointer;
}

.menu1 h3 {
    margin-left: 8px;
    margin-top: 10px;
    box-shadow: 2px 4px 2px black;
    font-family: "Kanit", sans-serif;
  	font-weight: 800;
    background-color: #0083c6;
    height: 28px;
	width: 90px;
    padding-left: 4px;
    color: white;
    transition: box-shadow 0.5s ease-in-out;
}
.menu1 h3:hover {
    box-shadow: 0px 0px 0px black;
}

.menu2 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(20px);
    height: auto;
	width: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    margin-bottom: 10px;
    background-color: rgb(156, 235, 235);
    border: 2px solid rgba(255, 255, 255, .2);
}
.menu2 h3 {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    text-shadow: 1px 2px 5px black;
    font-family: "Kanit", sans-serif;
  	font-weight: 300;
  	font-style: italic;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #0083c6;
    box-shadow: 1px 1px 5px black;
    border-radius: 6px;
}
.menu2 h3:hover {
    text-shadow: 4px 2px 6px black;
    text-decoration: underline;
    cursor: pointer;
}
.text {
    border-radius: 15px;
    background-color: rgb(152, 243, 243);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border: 5px dashed rgb(93, 190, 190);;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
}
.obiettivotext {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 2%;
    margin-right: 2%;
}
.obiettivotext h1 {
    background-color: #0083c6;
    box-shadow: 1px 1px 5px black;
    border-radius: 6px;
    text-align: center;
    font-size: 40px;
    font-family: "Kanit", sans-serif;
  	font-weight: 800;
    text-shadow: 2px 2px 3px black;
    color: white;
}
.obiettivotext p {
    text-align: justify;
    font-size: 20px;
    font-family: "Kanit", sans-serif;
  	font-weight: 300;
    color: black;
}
.obiettivotext li {
    text-align: justify;
    font-size: 17px;
    font-family: "Kanit", sans-serif;
  	font-weight: 300;
    color: black;
}
.text2 {
    border-radius: 15px;
    background-color: rgb(152, 243, 243);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border: 5px dashed rgb(93, 190, 190);;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 50px;
}
.obiettivotext2 {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}
.obiettivotext2 h1 {
    background-color: rgb(116, 0, 0);
    box-shadow: 1px 1px 5px black;
    border-radius: 6px;
    text-align: center;
    font-size: 40px;
    font-family: "Kanit", sans-serif;
  	font-weight: 800;
    text-shadow: 2px 2px 3px black;
    color: white;
}
.obiettivotext2 p {
    text-align: justify;
    font-size: 20px;
    font-family: "Kanit", sans-serif;
  	font-weight: 300;
    color: black;
}
.obiettivotext2 li {
    text-align: justify;
    font-size: 17px;
    font-family: "Kanit", sans-serif;
  	font-weight: 300;
    color: black;
}
.obiettivotext2 img {
    margin-left: 5px;
    align-content: center;
}
